html, body {
    height: 100%; 
}
body {
    font-size: 10px;
    background: rgb(149, 194, 215);
    display: flex;
    flex-direction: column;
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;
    
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);

    font-size: 19px;
    
}

a{
    text-decoration: none;
}

.thumbnail-image {
    width: 100%;
    display: block;
}

/*thumbnail-item refers to the li tags*/
.thumbnail-item {
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba (100%, 100%, 100%, 0.8);
    /*display: block; */
    display: inline-block;
    /*width: 120px; */
    min-width: 120px;
    max-width: 120px;
}

.thumbnail-list {
    list-style: none;
    padding: 0;

    /*prevent thumbnail-list from wrapping and allow scrolling*/
    white-space: nowrap;
    overflow-x: auto;
}



/* refers to h1 tag */
.logo-text {
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
    font-family: lakeshore;
}

@font-face {
    font-family: 'airstreamregular';
    src: url('fonts/Airstream-webfont.eot');
    src: url('fonts/Airstream-webfont.eot?iefix') format('embedded-opentype'),
        url('fonts/Airstream-webfont.woff') format('woff'),
        url('fonts/Airstream-webfont.ttf') format('truetype'),
        url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lakeshore';
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format ('embedded-opentype');
    src: url('fonts/Airstream-webfont.woff') format('wofff'),
         url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
         url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
    
    font-weight: normal;
    font-style: normal;
}

/*Chapter 4 css*/
.detail-image {
    width: 90%;
}

/*three flex child */
.main-header {
    flex: 1 1 auto;
   
    /* 
       flex-grow: 1;
       flex-shrink: 1;
       flex-basis: auto;
       in otherwords, the children in main-content will grow as needed, shrink as needed, and ask the compiler to calculate my size for me.  
    */
}

.main-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.thumbnail-list{
    flex: 0 1 auto;
    /*items in list will shrink as neccessary, and auto-sized. the growth stays the same*/
    order: 2;
    display: flex;
    justify-content: space-between ;
}

.detail-image-container {
    flex: 1 1 auto;

    display: flex;
    justify-content:  center;
    align-items: center;
}

.detail-image-frame {
    text-align: center;
    position: relative;
}

.detail-image-title {
    color: white; 
    font-size: 40px;
    font-family: airstreamregular;
    text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;

    position: absolute;
    bottom: -16px;
    left: 4px;
}